<p id="notice"><%= notice %></p>

<div id="staff_wrap">
  <div class="all_content">
    <p>
      <%= image_tag(@staff.photo) %>
    </p>

    <p>
        <h3>Name:</h3>
        <%= @staff.name %>
    </p>

    <p>
        <h3>Role:</h3>
        <%= @staff.role %>
    </p>

    <p>
        <h3>Bio:</h3>
        <%= @staff.bio %>
    </p>
  </div>
</div>

