<p id="notice"><%= notice %></p>

<div id ="actor_wrap">
  <div class="all_content">
    <p>
      <%= image_tag(@actor.photo) %>
    </p>

    <p>
    <h3>Name:</h3>
    <%= @actor.name %>
    </p>

    <p>
    <h3>Character:</h3>
    <%= @actor.role %>
    </p>

    <p>
    <h3>Character Bio:</h3>
    <%= @actor.bio %>
    </p>
  </div>
  <div>
    <%= link_to 'Edit Actor Info', edit_actor_path(@actor) %> |
    <%= link_to 'Back', actors_path %>
  </div>
</div>
