<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@actor.photo) %>
</p>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b>Character:</b>
  <%= @actor.role %>
</p>

<p>
  <b>Character Bio:</b><br \>
  <%= @actor.bio %>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
