<p id="notice"><%= notice %></p>

<div id="cu-wrap">
	<div id="profile">
      <p>
        <%= image_tag(@customer.photo, :alt => "photo") %>
      </p>

      <h3>Name</h3>
      <p>
        <%= @customer.name %>
      </p>

      <h3>Email</h3>
      <p>
         <%= @customer.email %>
      </p>

      <h3>Your Orders</h3>
      <table id="customer_orders_table">
        <% if !@customer.orders.nil? %>
            <% @customer.orders.each do |o| %>
                <tr>
                  <td>Order no <%= o.id %></td>
                  <td><%= euro(o.total) %></td>
                </tr>
            <% end %>
        <% else %>
            <tr>
              <td>You have no orders</td>
            </tr>
        <% end %>
        <table>

      <p><%= link_to 'Update your Profile', edit_customer_path(@customer) %> </p>
	</div>
</div>
