<p id="notice"><%= notice %></p>

<div id="cu-wrap">
	<div>
		<table>
			<tr>
				<td>
					<p>
						<%= image_tag(@customer.photo, :alt => "photo") %>
					</p>

					<p>
						<b>Name:</b>
						<%= @customer.name %>
					</p>

					<p>
						<b>Email:</b>
						<%= @customer.email %>
					</p>

                  <p>
                    <b>Your orders:</b>
                    <br /> No orders!
                  </p>

					<p>
						<%= link_to 'Update your Profile', edit_customer_path(@customer) %>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
